# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
.expo

# Turborepo
.turbo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea
*.swp
*.swo

# Prisma
prisma/migrations/**/*.sql.bak

# Test coverage
coverage

# TypeScript
*.tsbuildinfo

# Misc
.vercel
.netlify
